
body {
    margin: 0px;
    background-color: powderblue;
    box-shadow: 0px 0px 7px rgba(49, 49, 49, 0.1);
    border-radius: 20px;
    height: 100%;
    position: relative;
}

#nav-bar {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 0px;
    width: 50%;
    height: 500px;
    left: 25%;
    background-color: #004F54;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {

    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}


#nav-bar a {
    font-family: Helvetica Neue;
    font-weight: 700;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    font-size: 1.0rem;
}
#nav-bar a.home-active,
#nav-bar a.madspild-active,
#nav-bar a.about-us-active,
#nav-bar a.help-active,
#nav-bar a.read-more-active
{
    background-color: white;
    border-radius: 5px;
    color: #004F54;
}
#nav-bar a:hover{
    background-color: white;
    border-radius: 5px;
    color: #004F54;
}

#venstre-hjørne-billede{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10%;
    height: 15%;
    background-image: image("templates/Images/MY-logo.jpg");
}

#første-billede {
    position: absolute;
    top: 15em;
    width: 100%;
    height: 50%;
    background-image: url("https://csr.dk/sites/default/files/styles/2400px/public/116433646_l.jpg?itok=Di7Lu0YQ");

}


