<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hjælp</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" href="startside">Hjem</a></li>
            <li class="dropdown"> <a class="nav-heading">Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                </ul>
            </li>
            <a class="nav-heading" href="om-os">Om os</a>
            <a class="nav-heading" href="læs-mere">Læs mere</a>
            <a class="nav-heading" href="hjælp">Hjælp</a>

        </ul>
    </nav>
</header>

</body>
</html>