<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Madspild</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
<header>
    <section>
        <nav>
            <div id="nav-bar">
                <a class="home-active" href="index.html">Hjem</a>
                <a href="index.html">Madspild</a>
                <a>Om os</a>
                <a>Læs mere</a>
            </div>
        </nav>
    </section>
</header>

</body>
</html>