<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hjem</title>
    <link rel="stylesheet" href="/index.css">
</head>



<body>
<header>
    <div id="nav-bar">
        <a class="home-active" href="startside">Hjem</a>
        <div class="dropdown">
            <a href="madspild">Madspild</a>
            <div class="dropdown-menu">
                <a href="hvad-er-madspil">Hvad er madspild?</a><br>
                <a href="statistik">Statistik</a><br>
                <a href="stop-madspild">Stop madspild</a>
            </div>
        </div>

        <a href="om-os">Om os</a>
        <a href="læs-mere">Læs mere</a>
        <a href="hjælp">Hjælp</a>
    </div>
            <div id="venstre-hjørne-billede">
            <img src="/templates/Images/MY-logo.jpg" alt="Vores Logo">
            </div>
            <div id="første-billede">
                <div class="billede-tekst">Velkommen til vores hjemmeside</div>
            </div>

</header>

</body>
</html>