<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hjem</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<header>
            <div id="nav-bar">
                <a class="home-active" href="startside">Hjem</a>
                <a href="madspild">Madspild</a>
                <a href="om-os">Om os</a>
                <a href="læs-mere">Læs mere</a>
                <a href="hjælp">Hjælp</a>
            </div>
            <div id="venstre-hjørne-billede">
            <img src="/templates/Images/MY-logo.jpg" alt="Vores Logo">
            </div>
            <div id="første-billede">
            </div>
</header>

</body>
</html>