<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Om os</title>
    <link href="/styles/about-us.css" rel="stylesheet">
    <link href="/styles/index.css" rel="stylesheet">
    <link href="/icons/favi.png" rel="icon" type="image/ico">

</head>
<body>

<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" href="startside">Hjem</a></li>
            <li class="dropdown"><a class="nav-heading">Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                    <li><a class="dropdown-item" href="beregn-firma-madspild">Beregn din madspild</a></li>
                </ul>
            </li>
            <a class="nav-heading" href="om-os" id="about-us-active">Om os</a>
            <a class="nav-heading" href="kontakt">Kontakt</a>
            <a class="nav-heading" href="hjælp">Hjælp</a>

        </ul>
    </nav>
</header>
<div id="om-os-container">

    <h2>Vores vision</h2>
    <p>Vi tror på, at det er idéen om at stoppe madspild, der kan ændre verden for os allesammen.
        Vores endelige mål er at, alle en dag vil gøre en forskel for at stoppe madspild. </p>

    <hr>

    <h2>Vores mission</h2>
    <p>
        Vi vil nå vores mål ved at kaste lys over emnet om madspild, og hvad mad som individ kan gøre for at undgå
        madspild.</p>

    <hr>
    <h2>Vores værdier</h2>
    <p>Vi er bygget op omkring et mindset,
        hvor der er plads til kreativitet men dermed også ansvar.
        Man bliver derfor medlem af et fællesskab, hvor man er bevidst om, at man gør en forskel for jorden. </p>

    <hr>
</div>
<hr>

<footer>
    <div class="footer-container">
        <p> Copyright @2022 | Designed by</p>
        <a href="logo">
            <img alt="Side logo" src="/images/MY-logo.jpg">
        </a>
    </div>

</footer>


</body>
</html>