<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om os</title>
    <link rel="stylesheet" href="/styles/about-us.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="icon" type="image/ico" href="/icons/favi.png">

</head>
<body>

<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" href="startside">Hjem</a></li>
            <li class="dropdown"> <a class="nav-heading">Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                </ul>
            </li>
            <a class="nav-heading" id="about-us-active" href="om-os">Om os</a>
            <a class="nav-heading" href="kontakt">Kontakt</a>
            <a class="nav-heading" href="hjælp">Hjælp</a>

        </ul>
    </nav>
</header>
<div id="om-os-container">

    <h2>Vores vision</h2>
    <p>Vi ved ikke hvad fremtiden bringer, men det er vores handlinger,
        der dikterer vores nutid og fremtid – og derfor tror vi på, at det er idéen,
        der kan ændre verden for os allesammen.</p>

    <hr>

    <h2>Vores mission</h2>
    <p>
        Vi tror på at vi er blevet givet et formål,
        et formål om at hjælpe dig med at finde relevant råd til at føre et liv med omtanke for planeten.
        Vi tror på at netop din indsats kan være en del af vores alles fælles fremtid. </p>

    <hr>
    <h2>Vores værdier</h2>
    <p>Vores kulturelle DNA er bygget op omkring et mindset,
        hvor der er plads til kreativitet og ansvar.
        En fri kultur, der giver vores folk mulighed for at vokse i takt med vores organisation. </p>

    <hr>
</div>
<hr>

<footer>
    <div class="footer-container">
        Copyright @2022 | Designed by Madspild
    </div>
    <div id="udviklere-logo">
        <a href="logo">
            <img src="/images/MY-logo.jpg" alt="Side logo">
        </a>
    </div>
</footer>



</body>
</html>