<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beregn madspild</title>
</head>
<body>

<nav>
    <ul class="nav-bar">
        <li><a class="nav-heading" href="startside">Hjem</a></li>
        <li class="dropdown"><a class="nav-heading" id="madspild-active" >Madspild</a>
            <ul class="dropdown-list">
                <li><a class="dropdown-item" href="hvad-er-madspild">Hvad er madspild?</a></li>
                <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                <li><a class="dropdown-item" id="beregn-madspil-active" href="beregn-madspild">Beregn din madspild</a></li>
            </ul>
        </li>
        <li><a class="nav-heading" href="om-os">Om os</a></li>
        <a class="nav-heading" href="kontakt">Kontakt</a>
        <li><a class="nav-heading" href="hjælp">Hjælp</a></li>

    </ul>
</nav>

</body>
</html>