<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Læs mere</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/contact.css">
    <link rel="icon" type="image/ico" href="/icons/favi.png">



</head>
<body>

<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" href="startside">Hjem</a></li>
            <li class="dropdown"><a class="nav-heading">Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                    <li><a class="dropdown-item" href="beregn-madspild">Beregn din madspild</a></li>
                </ul>
            </li>
            <a class="nav-heading" href="om-os">Om os</a>
            <a class="nav-heading" id="contact-active" href="kontakt">Kontakt</a>
            <a class="nav-heading" href="hjælp">Hjælp</a>

        </ul>
    </nav>
</header>

<div class="contact-form">
    <h2 id="contact-heading" style="margin-left: 1px">Kontakt</h2>
    <form name="contact" id="contact-form">
        <input type="text" name="name" class="text-box" placeholder="Indtast venligst dit navn" required>
        <br>
        <input type="email" name="email" class="text-box" placeholder="Indtast venligst din email" required>
        <br>
        <textarea name="message" rows="4" placeholder="Indtast venligst din besked" id="text-enter-field" required></textarea>
        <br>
        <button type="submit" id="button-send">Send</button>
    </form>
</div>

<hr>

<footer>
    <div class="footer">
        <h4 class="footer-heading">Stop-Mad-Spild A/S</h4>
        <p class="footer-info">Vestergade 33</p>
        <p class="footer-info">1250 København K</p>
        <p class="footer-info">tlf.: 33445566</p>
        <p class="footer-info">E-mail: kontakt@stopmadspild.dk</p>


    </div>

    <div class="footer-container">
        Copyright @2022 | Designed by Madspild
    </div>
    <div id="udviklere-logo">
        <a href="logo">
            <img src="/images/MY-logo.jpg" alt="Side logo">
        </a>
    </div>
</footer>
<hr>

<script src="/script/contact.js"></script>
</body>
</html>