<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Læs mere</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/contact.css">


</head>
<body>

<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" href="startside">Hjem</a></li>
            <li class="dropdown"> <a class="nav-heading">Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                </ul>
            </li>
            <a class="nav-heading" href="om-os">Om os</a>
            <a class="nav-heading" id="contact-active"  href="kontakt">Kontakt</a>
            <a class="nav-heading" href="hjælp">Hjælp</a>



        </ul>
    </nav>
</header>
<!--
<div class="contact-container">
    <div class="contact-information">
        <div><i class="fas fa-map-marker-alt"></i>Copenhagen, Denmark</div>
        <div><i class="fas fa-envelope"></i>kontakt@stopmadspild.dk</div>
        <div><i class="fas fa-phone"></i>+33445566</div>
        <div><i class="fas fa-clock"></i>Mandag - Fredag 8:00 to 17:00</div>



    </div> -->
    <div class="contact-form">
        <h2 id="contactH" style="margin-left: 1px">Contact</h2>
        <form name="contact" action= method="post" id="contact-form">
            <input type="text" name="Name" class="text-box" placeholder="Indtast venligst dit navn">
            <br>
            <input type="email" name="Email" class="text-box" placeholder="Indtast venligst din email">
            <br>
            <textarea name="message" rows="5" placeholder="Indtast venligst din besked" id="text-enter-field"></textarea>
            <br>
            <button type="submit" id="button-send">Send</button>
        </form>
    </div>
    <hr>
    <div class="footer-test">
        <h4 class="h-in-footer">Stop-Mad-Spild A/S</h4>
        <p class="contact-static">Vestergade 33</p>
        <p class="contact-static">1250 København K</p>
        <p class="contact-static">tlf.: 33445566</p>
        <p class="contact-static">E-mail: kontakt@stopmadspild.dk</p>


    </div>
<hr>
</div>

</body>
</html>