<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Hjem</title>
    <link href="/styles/index.css?v=<?= filemtime('/styles/index.css') ?>" rel="stylesheet">
    <link href="/icons/favi.png" rel="icon" type="image/ico">

</head>


<body style="background-color: #abdfee">
<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" href="startside" id="home-active">Hjem</a></li>
            <li class="dropdown"><a class="nav-heading">Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                    <li><a class="dropdown-item" href="beregn-firma-madspild">Beregn din madspild</a></li>
                </ul>
            </li>
            <li><a class="nav-heading" href="om-os">Om os</a></li>
            <a class="nav-heading" href="kontakt">Kontakt</a>
            <li><a class="nav-heading" href="hjælp">Hjælp</a></li>

        </ul>
    </nav>
</header>

<div class="flex-container">

</div>
<div id="startside-billede">
    <img alt="Home baggrund" src="/images/home-baggrund.jpg">
</div>

<div id="tekst-container">
    <a href="stop-madspild"><p>Sammen kan vi gøre en<br> forskel mod madspild.</p></a>
</div>


<script src="/script/index.js"></script>

<hr>

<footer>
    <div class="footer-container">
        <p> Copyright @2022 | Designed by</p>
        <a href="logo">
            <img alt="Side logo" src="/images/MY-logo.jpg">
        </a>
    </div>

</footer>

<hr>

</body>
</html>

