<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hjem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="icon" type="image/ico" href="/favi.png">
</head>


<body style="background-color: #0f90ce">
<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" id="home-active" href="startside">Hjem</a></li>
            <li class="dropdown"><a class="nav-heading">Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                </ul>
            </li>
            <li><a class="nav-heading" href="om-os">Om os</a></li>
            <li><a class="nav-heading" href="læs-mere">Læs mere</a></li>
            <li><a class="nav-heading" href="hjælp">Hjælp</a></li>

        </ul>
    </nav>
</header>

<div class="velkomst-tekst">
    <h1>
        Velkommen til Stop Madspild
    </h1>
</div>

<div id="tekst-under-velkomst">
    <a href="hvad-er-madspild">
        Sammen kan vi gøre en forskel læs mere her på siden og find ud af hvad du kan gøre.
    </a>
</div>

<div id="startside-billede">
    <img src="/images/home-baggrund.jpg" alt="Home baggrund">
</div>

    <div id="startside-billede-logo">
        <a href="logo">
        <img src="/images/MY-logo.jpg" alt="Side logo">
        </a>
    </div>


<script src="/js/index.js"></script>
</body>
</html>

