<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjem</title>
    <link href="/styles/index.css?v=<?= filemtime('/styles/index.css') ?>" rel="stylesheet">
    <link rel="icon" type="image/ico" href="/icons/favi.png">

</head>


<body style="background-color: #abdfee">
<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" id="home-active" href="startside">Hjem</a></li>
            <li class="dropdown"><a class="nav-heading">Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                </ul>
            </li>
            <li><a class="nav-heading" href="om-os">Om os</a></li>
            <a class="nav-heading" href="kontakt">Kontakt</a>
            <li><a class="nav-heading" href="hjælp">Hjælp</a></li>

        </ul>
    </nav>
</header>

<div class="flex-container">

</div>
<div id="startside-billede">
    <img src="/images/home-baggrund.jpg" alt="Home baggrund">
</div>

<div id="tekst-container">
    <a href="stop-madspild"><p>Sammen kan vi gøre en<br> forskel mod madspild.</p></a>
</div>


<script src="/script/index.js"></script>

<hr>

<footer>
    <div class="footer-container">
        Copyright @2022 | Designed by Madspild
    </div>
    <div id="udviklere-logo">
        <a href="logo">
            <img src="/images/MY-logo.jpg" alt="Side logo">
        </a>
    </div>
</footer>


<hr>

</body>
</html>

