<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo</title>
    <link rel="stylesheet" href="/styles/logo.css">
    <link rel="icon" type="image/ico" href="/icons/favi.png">

</head>
<body>

<div id="logo-git-style">

    <div id="info-names">
    <p>
        Mardin - Full Stack Developer
        <br>
        Mo Stacks - Full Stack Developer
        <br>
        Youssef - Full Stack Developer
    </p>
    </div>

    <div id="git-reference">
        <p>
            <a href="https://github.com/Thecoder0012"> Mardin</a>
            <br>
            <a href="https://github.com/Moha729"> Mo Stacks</a>
            <br>
            <a href="https://github.com/Unknown1321"> Youssef</a>
        </p>
    </div>

<img src="/images/GitHub-logo1.jpg">
</div>

<div id="my-logo">
    <img src="/images/MY-logo1.jpg" alt="Side logo">
</div>

</body>
</html>