<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild statistik</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/statistics.css">

</head>
<body>


<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" href="startside">Hjem</a></li>
            <li class="dropdown"><a class="nav-heading" id="madspild-active">Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" id="statistics-active" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                    <li><a class="dropdown-item" href="beregn-madspild">Beregn din madspild</a></li>
                </ul>
            </li>
            <li><a class="nav-heading" href="om-os">Om os</a></li>
            <a class="nav-heading" href="kontakt">Kontakt</a>
            <li><a class="nav-heading" href="hjælp">Hjælp</a></li>

        </ul>
    </nav>
</header>


<div id="madspild-statistik-tekst-container">
    <h2>
        Statistiker over madspild i Danmark:
    </h2>
    <p>
        Danskerne har reduceret madspild. 14.000 ton madspild -
        så meget har danskerne reduceret deres madspild fra 2011 til 2017. Danskerne,
        som bor i etageboliger har reduceret madspild med 24% per person, mens madspildet
        i enfamiliehusene er derimod uændret. Samlet har danske husholdninger reduceret
        madspild med 8% per person i løbet af de seneste seks år. Alle danske husholdninger
        havde et madspild på 261.000 ton i 2011/2012 - og dette er faldet til 247.000 ton i 2017. <br>

        Hver dansker smider 47 kg spiselig mad ud om året. Samlet set udgør madspild 42 kg pr. person pr.
        år i enfamilieboliger og 59 kg pr. person pr. år i etageboliger.
        Madspild koster danskerne 13,5 milliarder kroner om året inkl. moms og afgifter.





    </p>
</div>

</body>
</html>