<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stop madspild</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/stop-madspild.css">

</head>
<body>

<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" href="startside">Hjem</a></li>
            <li class="dropdown"><a class="nav-heading" id="madspild-active">Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" id="stop-madspild-active" href="stop-madspild">Stop madspild</a></li>
                    <li><a class="dropdown-item" href="beregn-madspild">Beregn din madspild</a></li>
                </ul>
            </li>
            <li><a class="nav-heading" href="om-os">Om os</a></li>
            <a class="nav-heading" href="kontakt">Kontakt</a>
            <li><a class="nav-heading" href="hjælp">Hjælp</a></li>

        </ul>
    </nav>
</header>


<div id="stop-madspild-tekst-container">
    <h2>
        Vær med til at stoppe madspild i Danmark!
    </h2>
        <p>
            Når du er hjemme i køkkenet: Dit køleskab, dine køkkenskabe og din fryser gemmer på guld – hvis
            du husker at udnytte al maden. På et år kan din husholdning spare over 7.000 kr. Og om måneden kan
            du spare op til 4 timer i madindkøb. Mindre madspild betyder, at du sparer dine penge, sparer din tid
            og samtidigt sparer miljøbelastningen.
            Dine rester skal gemmes, men ikke glemmes. Hav central plads til dine rester og indtænk brug af
            resterne i al din madlavning, uanset om det er hverdagsmad, gæstebud eller en påske/julefrokost.
            Gem dine rester et centralt sted i køleskabet, så du hele tiden husker dem og er opmærksom på at
            få dem brugt i nye retter eller i madpakken. <br> Det man selv kan gøre er:
        </p>

    <ol>
        <li>Lave en madplan</li>
        <li>Skrive en indkøbsliste</li>
        <li>Spise, før du shopper</li>
        <li>Tage en mindre kurv, når du handler</li>
        <li>Passe på gode tilbud og mængderabatter</li>
        <li>Overveje, om du har brug for den store portion.</li>
        <li>Få styr på holdbarhedsmærkningerne.</li>
    </ol>

</div>

</body>
</html>