<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/madspild.css">

</head>
<body>

<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" id="home-active" href="startside">Hjem</a></li>
            <li class="dropdown"><a class="nav-heading">Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" id="what-is-madspild-active" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                </ul>
            </li>
            <li><a class="nav-heading" href="om-os">Om os</a></li>
            <li><a class="nav-heading" href="læs-mere">Læs mere</a></li>
            <li><a class="nav-heading" href="hjælp">Hjælp</a></li>

        </ul>
    </nav>
</header>

<div id="container">
    <h1>Hvad er madspild?</h1>
    <p>Madspild er kort sagt mad, som kunne være spist, men som er blevet smidt ud.
        Der er mange årsager til man ville vælge at smide det ud -
        eksempelvis at man har for meget mad liggende derhjemme end man virkelig har brug for.
        <br>Det sker også ofte, at man kommer til at opbevare madvarer forkert
        og derfor er blevet muggent, råddent, for tørt og lignende.
        Hvis der ikke er angivet tip om opbevaring på det, man køber, så
        bør man spørge i butikken.  <br> </p>
</div>


</body>
</html>