<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/madspild.css">

</head>
<body>

<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" id="home-active" href="startside">Hjem</a></li>
            <li class="dropdown"><a class="nav-heading">Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" id="what-is-madspild-active" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                </ul>
            </li>
            <li><a class="nav-heading" href="om-os">Om os</a></li>
            <li><a class="nav-heading" href="læs-mere">Læs mere</a></li>
            <li><a class="nav-heading" href="hjælp">Hjælp</a></li>

        </ul>
    </nav>
</header>

<div id="container">
    <h1>Hvad er madspild?</h1>
    <p>Madspild er at smide mad ud, som er opbevaret forkert
        og derfor er blevet muggent, råddent, for tørt og lignende.
        Hvis der ikke er angivet tip om opbevaring på det, man køber, så
        bør man spørge i butikken. Det er ikke flovt at spørge - det er
        mere flovt at lade være.</p>
</div>


</body>
</html>