<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madspild</title>
    <link href="/styles/index.css?v=<?= filemtime('/styles/index.css') ?>" rel="stylesheet">
    <link rel="stylesheet" href="/styles/madspild.css">
    <link rel="icon" type="image/ico" href="/icons/favicon.png">


</head>
<body>

<header>
    <nav>
        <ul class="nav-bar">
            <li><a class="nav-heading" href="startside">Hjem</a></li>
            <li class="dropdown"><a class="nav-heading" id="madspild-active" >Madspild</a>
                <ul class="dropdown-list">
                    <li><a class="dropdown-item" id="hvad-er-madspild-active" href="hvad-er-madspild">Hvad er madspild?</a></li>
                    <li><a class="dropdown-item" href="statistik">Statistik</a></li>
                    <li><a class="dropdown-item" href="stop-madspild">Stop madspild</a></li>
                </ul>
            </li>
            <li><a class="nav-heading" href="om-os">Om os</a></li>
            <a class="nav-heading" href="kontakt">Kontakt</a>
            <li><a class="nav-heading" href="hjælp">Hjælp</a></li>

        </ul>
    </nav>
</header>

<div id="container">
    <h1>Hvad er madspild?</h1>
    <p>Madspild er kort sagt mad, som kunne være spist, men som er blevet smidt ud.
        Der er mange årsager til man ville vælge at smide det ud -
        eksempelvis at man har for meget mad liggende derhjemme end man virkelig har brug for.
        <br>Det sker også ofte, at man kommer til at opbevare madvarer forkert
        og derfor er blevet muggent, råddent, for tørt og lignende.
        Hvis der ikke er angivet tip om opbevaring på madvarer, man køber, så
        anbefales det, at man spørger i butikken.  <br> </p>
</div>

<div id="video-container">
    <iframe class="madspild-video" width="560" height="315" src="https://www.youtube.com/embed/6RlxySFrkIM"
            title="YouTube video player" frameborder="0" allow="accelerometer;
            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>

<div id="madspild-video-caption">
    <p>Se denne video og lær mere om madspild</p>
</div>

<hr>

<footer>
    <div class="footer-container">
        Copyright @2022 | Designed by Madspild
    </div>
    <div id="udviklere-logo">
        <a href="logo">
            <img src="/images/MY-logo.jpg" alt="Side logo">
        </a>
    </div>
</footer>


</body>
</html>