body {
    background-color: #00bcb4;
}

#logo-git-style img {
    border-radius: 6em;
    height: 150px;
    left: 0.9em;
    position: absolute;
    top: 14em;
}

#my-logo img {
    border-radius: 2em;
    height: 150px;
    left: 3em;
    position: relative;
    top: 1em;
    width: 150px;
}

#info-names {
    font-family: cursive;
    font-size: 2em;
    left: 11em;
    position: fixed;
}

#git-reference {
    font-size: 2em;
    font-family: serif;
    left: 11em;
    position: fixed;
    top: 208px;
}