body{
    background: #c7dee4;
}


#stop-madspild-tekst-container{
    width: 60%;
    height: 60%;
    margin:5% 0 0 2%;

}

#stop-madspild-tekst-container h2{
    background-color: wheat;
    color: darkgreen;
    font-weight: 700;
    font-family: Helvetica Neue;
    font-size: 2em;
    line-height: 1.4;
    padding: 10px 20px;

}



#stop-madspild-tekst-container p{
    font-weight: 400;
    font-family: Helvetica Neue;
    font-size: 1.5em;
    line-height: 1.9;
    padding: 5px 15px;
    background-color: coral;
}


