body {
    background: #c7dee4;
}


#stop-madspild-tekst-container {
    width: 45%;
    height: 60%;
    margin: 3% 0 3% 2%;
}

#to-do-list-container ol {
    background-color: #05545b;
    color: burlywood;
    font-size: 1.5em;
    padding: 0.68% 10.75%;
    font-family: Lora, serif;
    font-weight: 700;
    line-height: 1.9;
}
#to-do-list-container {
    max-width: 1920px;
    min-width: 480px;
    width: 42%;
    height: auto;
    position: absolute;
    left: 48%;
    margin-top: -62.9%;
}

#to-do-list-container p {
    font-size: 27px;
    left: -25px;
    top: -9px;
    position: relative;
}

#stop-madspild-tekst-container h2 {
    background-color: #05545b;
    color: burlywood;
    font-weight: 1200;
    font-family: Lora, serif;
    font-size: 2em;
    line-height: 1.4;
    padding: 10px 20px;
}

#stop-madspild-tekst-container p {
    font-weight: 700;
    font-family: Lora, serif;
    font-size: 1.5em;
    line-height: 1.9;
    padding: 5px 15px;
    background-color: #05545b;
    color: burlywood;
}